<div class="container mt-4">
  <h2>Data Mahasiswa</h2>

  <!-- Loader -->
  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <div class="spinner-border text-bg-primary" role="status">
      <span class="visually-hidden">Loading.....</span>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="col-md-4 mb-4" *ngFor="let item of mahasiswa">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.nama }}</h5>
          <p class="card-text">{{ item.npm }}</p>
          <p class="card-text">{{ item.jenis_kelamin }}</p>
          <p class="card-text">{{ item.asal_sekolah }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
